{extends file="layouts/admin.tpl"}

{block name="content"}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                {* test {$cnote['cnote_no']} *}
                {* {$pe['kode']}{$pe['ExtractString']} *}
                
                test
                </div>
            </div>
        </div>
    </div>
{/block}